body {
	background-image: linear-gradient(to top right, #B69DF1, #8452FB);
}

.cal_background {
  background-color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.topnav {
  margin: auto;
  width: 85%;
  background-color: #555;
  overflow: auto;
}

.topnav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 22.7%;
  text-align: center;
}

.topnav a:hover {
  background-color: #c4c4c4;
  color: black;
}

.topnav a.active {
  background-color: #03fcf0;
  color: black;
}
